/****** BASE STYLES ******/

main{
    width: 1200px;
}
h3 {
    font-family: "ubuntu", sans-serif;
    font-weight: 300px;
    font-size: 14px;
    line-height: 45px;
    color: #b4ad9e;
    text-transform: uppercase;
}
h1 {
    font-family: "Playfair Display SC", serif;
    font-weight: 400px;
    font-size: 30 px;
    line-height: 45px;
    color: #626262;
}
p {
    font-family: "Playfair Display SC", serif; 
    font-weight: 700px; 
    font-size: 14px; 
    line-height: 15px;
    color: #626262;
}

/***** HEADER *****/

header{
    height: 75px;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Inconsolata", monospace;
    margin: 0;
    padding: 70px;
    float: left;
}
nav {
    float: right;
    padding: 50px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 50px;
    font-family: "Playfair Display SC", serif;
    text-decoration: none;
    color: #626262;
}

/***** SECTION 1 *****/

#dunes {
    height: auto;
    margin-left: 70px;
    width: 1060px;
}
.photo-diary h3, .photo-diary h1, .photo-diary p{
    margin-left: 140px;
    width: 890px;
}
.lifestyle h3 {
    height: 60px;
}
#concert { 
    width: 450px;
    height: 275px;
}
.lifestyle p{
    line-height: 25px;
    margin-bottom: 130px;
}
.lifestyle-1, .lifestyle-2 {
    width: 425px;
    float: left;
    margin-left: 70px;
}
#coffee {
    width: 425px;
    height: 275px;
}
.lifestyle-1 {
    margin-left: 140px;
}
.lifestyle-2 {
    float: right;
}
#bridge {
    width: 450px;
    height: 275px;
}
.photodiary p{
    line-height: 25px;
    margin-bottom: 100px;
}
.photodiary-1, .photodiary-2 {
    width: 425px;
    margin-left: 70px;
    float: left;
    margin-bottom: 100px;
}
.photodiary-1 {
    margin-left: 140px;
}
#alps {
    width: 425px;
    height: 275px;
}
.photodiary-2 {
    float: right;
}

/***** NEWSLETTER *****/

.newsletter {
    clear: both;
    text-align: center;
    height: 200px;
    background: #f0f0f0;
    padding: 70px;
}
.newsletter p {
    line-height: 90px;
    text-decoration: underline;
    float: left;
    margin-left: 350px;
}
#arrow {
    float: right;
    text-decoration: underline;
    decoration: line;
}


/***** SECTION 3 *****/

#floppy {
    width: 425px;
    height: 275px;
}
.lifestyle-row-2 {
    margin-top: 75px;
}
.lifestyle-row-2 p{
    line-height: 25px;
    margin-bottom: 130px;
}
.lifestyle-3, .lifestyle-4 {
    width: 425px;
    float: left;
    margin-left: 70px;
}
#road {
    width: 425px;
    height: 275px;
}
.lifestyle-3 {
    margin-left: 140px;
}
.lifestyle-4 {
    float: right;
}
.load-more {
    clear: both;
}
button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 575px;
}

/***** FOOTER *****/

footer {
    height: 95px;
    margin-top: 1375px; 
    background: #f0f0f0;
}
footer nav-1 {
    margin-top: 24px;
    float: left;
}
footer nav-1 ul li{
    display: inline-block;
}
footer nav-1 ul li a{
    text-decoration: none;
    padding-left: 50px;
}
footer nav-2 {
    margin-top: 24px;
    float: right;
    padding-right: 75px;
}
footer nav-2 ul li {
    display: inline-block;
}
footer nav-2  ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Playfair Display SC", serif;
    text-decoration: none;
    color: #626262;
    padding-left: 25px;
}